<a href="https://colab.research.google.com/github/BioWill25/NeuroscienceDAslides/blob/master/Copy_of_spinal_exercises_William_Scott.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas dataframe exercises using the sprinter reaction time dataset.  
## Goal: Get familiar with basic dataframe operations

The code block below is a preamble that loads the libraries that we need and sets things up the way we like it.  You can copy and paste this preamble and put it in any notebook to have access to the same libraries.

In [0]:
# Tells the notebooks to view every graph "in line" automatically, rather than requiring a specific `show` command
%matplotlib inline 
# Loads the numpy library (for math stuff)
import numpy as np 
# Load the pandas library (what we use to create, explore, and analyze datasets)
import pandas as pd 
# Loads the matplotlib library (what we use to create graphs)
import matplotlib.pyplot as plt 
# Loads the seaborn library (what we use to create prettier graphs)
import seaborn as sns 
# Sets the default font size for graphs to 150% of its original value (for readability)
sns.set(font_scale=1.5)

#### First we load the original data into a Pandas dataframe called `df`

In [124]:
url = "https://raw.githubusercontent.com/rgerkin/neuro-data-analysis-course/master/data/spinal/2004-2016-Short-Races2.csv"
df = pd.read_csv(url) # Loads the data from that URL into a dataframe
df.head() # Shows the first few rows of that dataframe

,Unnamed: 0,POS,BIB,ATHLETE,COUNTRY,MARK,RxnTime,Race,Round,Gender,Year
0,0,1.0,NaN,Usain BOLT,JAMJAM,10.20 Q,0.186,100 m,Heats,M,2008
1,1,2.0,NaN,Daniel BAILEY,ANTANT,10.24 Q,0.198,100 m,Heats,M,2008
2,2,3.0,NaN,Vicente DE LIMA,BRABRA,10.26 Q,0.168,100 m,Heats,M,2008
3,3,4.0,NaN,Henry VIZCAÍNO,CUBCUB,10.28 q,0.157,100 m,Heats,M,2008
4,4,5.0,NaN,Fabio CERUTTI,ITAITA,10.49,0.136,100 m,Heats,M,2008

#### Now complete the numbered tasks below.  Read the question, then use the code block to fill in your solution

1) A method is just a function that belongs to an object (like a dataframe).  The `.head()` method is a good way to preview the data that you loaded.  Sometimes people work with datasets with thousands or even millions of rows.  You usually don't need to see them all at once!  But sometimes you want to see more than 5 rows.  Try passing an argument to `.head()`, in order to see more rows.  For example, `.head(10)` to see 10 rows.  Or pick some other number.

In [125]:
df.head(31)

,Unnamed: 0,POS,BIB,ATHLETE,COUNTRY,MARK,RxnTime,Race,Round,Gender,Year
0,0,1.0,NaN,Usain BOLT,JAMJAM,10.20 Q,0.186,100 m,Heats,M,2008
1,1,2.0,NaN,Daniel BAILEY,ANTANT,10.24 Q,0.198,100 m,Heats,M,2008
2,2,3.0,NaN,Vicente DE LIMA,BRABRA,10.26 Q,0.168,100 m,Heats,M,2008
3,3,4.0,NaN,Henry VIZCAÍNO,CUBCUB,10.28 q,0.157,100 m,Heats,M,2008
4,4,5.0,NaN,Fabio CERUTTI,ITAITA,10.49,0.136,100 m,Heats,M,2008
5,5,6.0,NaN,Jurgen THEMEN,SURSUR,10.61,0.179,100 m,Heats,M,2008
6,6,7.0,NaN,Moses KAMUT,VANVAN,10.81,0.181,100 m,Heats,M,2008
7,7,8.0,NaN,Francis MANIORU,SOLSOL,11.09,0.197,100 m,Heats,M,2008
8,8,1.0,NaN,Asafa POWELL,JAMJAM,10.16 Q,0.142,100 m,Heats,M,2008
9,9,2.0,NaN,Kim COLLINS,SKNSKN,10.17 Q,0.162,100 m,Heats,M,2008
10,10,3.0,NaN,Craig PICKERING,GBRGBR,10.21 Q,0.174,100 m,Heats,M,2008
11,11,4.0,NaN,Daniel GRUESO,COLCOL,10.35 q,0.178,100 m,Heats,M,2008
12,12,5.0,NaN,Dariusz KUC,POLPOL,10.44 q,0.144,100 m,Heats,M,2008
13,13,6.0,NaN,Berenger Aymard BOSSE,CAFCAF,10.51,0.144,100 m,Heats,M,2008
14,14,7.0,NaN,Aisea TOHI,TGATGA,11.17,0.159,100 m,Heats,M,2008
15,15,8.0,NaN,Roman CRESS,MHLMHL,11.18,0.190,100 m,Heats,M,2008
16,16,1.0,NaN,Richard THOMPSON,TTOTTO,10.24 Q,0.188,100 m,Heats,M,2008
17,17,2.0,NaN,Martial MBANDJOCK,FRAFRA,10.26 Q,0.162,100 m,Heats,M,2008
18,18,3.0,NaN,Simone COLLIO,ITAITA,10.32 Q,0.140,100 m,Heats,M,2008
19,19,4.0,NaN,Aziz ZAKARI,GHAGHA,10.34 q,0.177,100 m,Heats,M,2008
20,20,5.0,NaN,Andrew HINDS,BARBAR,10.35 q,0.140,100 m,Heats,M,2008
21,21,6.0,NaN,Suryo Agung WIBOWO,INAINA,10.46,0.175,100 m,Heats,M,2008
22,22,7.0,NaN,Jared LEWIS,VINVIN,11,0.123,100 m,Heats,M,2008
23,23,8.0,NaN,Rabangaki NAWAI,KIRKIR,11.29,0.152,100 m,Heats,M,2008
24,24,1.0,NaN,Michael FRATER,JAMJAM,10.15 Q,0.156,100 m,Heats,M,2008
25,25,2.0,NaN,Pierre BROWNE,CANCAN,10.22 Q,0.141,100 m,Heats,M,2008
26,26,3.0,NaN,Darrel BROWN,TTOTTO,10.22 Q,0.139,100 m,Heats,M,2008
27,27,4.0,NaN,Nobuharu ASAHARA,JPNJPN,10.25 q,0.160,100 m,Heats,M,2008
28,28,5.0,NaN,Holder DA SILVA,GBSGBS,10.58,0.184,100 m,Heats,M,2008
29,29,6.0,NaN,Idrissa SANOU,BURBUR,10.63,0.171,100 m,Heats,M,2008
30,30,7.0,NaN,Ghyd Kermeliss OLONGHOT,CGOCGO,11.01,0.172,100 m,Heats,M,2008

2) You can also look at the *last* few rows of the data, using the `.tail()` method. Try viewing the last 12 rows of the dataset.

In [126]:
df.tail(12)

,Unnamed: 0,POS,BIB,ATHLETE,COUNTRY,MARK,RxnTime,Race,Round,Gender,Year
2445,2445,3.0,NaN,Taiwo ALADEFA-DARDEN,NGRNGR,13.06,NaN,100 m H,Heats,F,1996
2446,2446,4.0,NaN,Lidiya YURKOVA,BLRBLR,13.2,NaN,100 m H,Heats,F,1996
2447,2447,5.0,NaN,Nadezhda BODROVA,UKRUKR,13.22,NaN,100 m H,Heats,F,1996
2448,2448,6.0,NaN,Rachael ROGERS,FIJFIJ,14.07,NaN,100 m H,Heats,F,1996
2449,2449,NaN,NaN,Elisabeta ANGHEL,ROUROU,DNF,NaN,100 m H,Heats,F,1996
2450,2450,1.0,NaN,Gail DEVERS,USAUSA,12.73,NaN,100 m H,Heats,F,1996
2451,2451,2.0,NaN,Gillian RUSSELL-LOVE,JAMJAM,12.85,NaN,100 m H,Heats,F,1996
2452,2452,3.0,NaN,Yuliya GRAUDYN,RUSRUS,12.95,NaN,100 m H,Heats,F,1996
2453,2453,4.0,NaN,Ime AKPAN,NGRNGR,13.11,NaN,100 m H,Heats,F,1996
2454,2454,5.0,NaN,Olena KRASOVSKA,UKRUKR,13.23,NaN,100 m H,Heats,F,1996
2455,2455,6.0,NaN,Véronique LINSTER,LUXLUX,13.47,NaN,100 m H,Heats,F,1996
2456,2456,NaN,NaN,Carla TUZZI,ITAITA,DNF,NaN,100 m H,Heats,F,1996

3) How much data do you have?  You can find how many rows and columns you have with the `.shape` attribute.  Note the lack of parentheses here.  Attributes differ from methods in that they don't actually do anything (like print out information, or make a plot), but you can access their value to get information about your data.  The `.shape` attribute reports the number of rows and columns of the dataframe.  How many columns does the dataframe have?

In [127]:
df.shape

(2457, 11)

4) Sometimes you only care about one column in your dataframe.  You can access it be name.  For example, `df['ATHLETE']` will access the "ATHLETE" column.  Access the column for reaction time.

In [128]:
df['ATHLETE']

0                        Usain BOLT
1                     Daniel BAILEY
2                   Vicente DE LIMA
3                    Henry VIZCAÍNO
4                     Fabio CERUTTI
5                     Jurgen THEMEN
6                       Moses KAMUT
7                   Francis MANIORU
8                      Asafa POWELL
9                       Kim COLLINS
10                  Craig PICKERING
11                    Daniel GRUESO
12                      Dariusz KUC
13            Berenger Aymard BOSSE
14                       Aisea TOHI
15                      Roman CRESS
16                 Richard THOMPSON
17                Martial MBANDJOCK
18                    Simone COLLIO
19                      Aziz ZAKARI
20                     Andrew HINDS
21               Suryo Agung WIBOWO
22                      Jared LEWIS
23                  Rabangaki NAWAI
24                   Michael FRATER
25                    Pierre BROWNE
26                     Darrel BROWN
27                 Nobuharu ASAHARA
28                  Holder DA SILVA
29                    Idrissa SANOU
                   ...
2427                 Lesley TASHLIN
2428               Ludmila ENGQUIST
2429                   Angela ATEDE
2430          María José MARDOMINGO
2431    Monique ÉWANJÉ-ÉPÉE TOURRET
2432             Lena SOLLI-REIMANN
2433             Natalya GRIGORYEVA
2434                 Sonia PAQUETTE
2435                  Julie BAUMANN
2436                   Angela THORP
2437            Lynda TOLBERT-GOODE
2438               Kristin PATZWAHL
2439           Tatyana RESHETNIKOVA
2440                  Cécile CINÉLU
2441                  Bich Huong VU
2442                 Aminata CAMARA
2443                Brigita BUKOVEC
2444             Dionne ROSE-HENLEY
2445           Taiwo ALADEFA-DARDEN
2446                 Lidiya YURKOVA
2447               Nadezhda BODROVA
2448                 Rachael ROGERS
2449               Elisabeta ANGHEL
2450                    Gail DEVERS
2451           Gillian RUSSELL-LOVE
2452                 Yuliya GRAUDYN
2453                      Ime AKPAN
2454                Olena KRASOVSKA
2455              Véronique LINSTER
2456                    Carla TUZZI
Name: ATHLETE, Length: 2457, dtype: object

5) Notice that the above doesn't look like a dataframe anymore.  That's because you've only accessed one column, so the two-dimensional dataset (rows x columns) is now only one-dimensional. One-dimensional data in Pandas is convered into a so-called "Series".  Many of the same methods that belong to dataframes also belong to a series, e.g. `.head()` or `.mean()`.  Find the median reaction time as you did in the earlier homework assignment, but operating directly on the series containing the reaction times.

In [129]:
df['RxnTime'].median()

0.165

6) Sometimes you want to keep a dataframe, but just with fewer columns.  For example, only the name and reaction time.  You do this with an extra set of brackets, i.e. `df[['col1','col2']]` if you wanted to access hypothetical columns named 'col1' and 'col2'.  Try generating a dataframe that has only the name and reaction time columns from the original dataset.

In [130]:
df[['ATHLETE','RxnTime']]

                          ATHLETE  RxnTime
0                      Usain BOLT    0.186
1                   Daniel BAILEY    0.198
2                 Vicente DE LIMA    0.168
3                  Henry VIZCAÍNO    0.157
4                   Fabio CERUTTI    0.136
5                   Jurgen THEMEN    0.179
6                     Moses KAMUT    0.181
7                 Francis MANIORU    0.197
8                    Asafa POWELL    0.142
9                     Kim COLLINS    0.162
10                Craig PICKERING    0.174
11                  Daniel GRUESO    0.178
12                    Dariusz KUC    0.144
13          Berenger Aymard BOSSE    0.144
14                     Aisea TOHI    0.159
15                    Roman CRESS    0.190
16               Richard THOMPSON    0.188
17              Martial MBANDJOCK    0.162
18                  Simone COLLIO    0.140
19                    Aziz ZAKARI    0.177
20                   Andrew HINDS    0.140
21             Suryo Agung WIBOWO    0.175
22                    Jared LEWIS    0.123
23                Rabangaki NAWAI    0.152
24                 Michael FRATER    0.156
25                  Pierre BROWNE    0.141
26                   Darrel BROWN    0.139
27               Nobuharu ASAHARA    0.160
28                Holder DA SILVA    0.184
29                  Idrissa SANOU    0.171
...                           ...      ...
2427               Lesley TASHLIN      NaN
2428             Ludmila ENGQUIST      NaN
2429                 Angela ATEDE      NaN
2430        María José MARDOMINGO      NaN
2431  Monique ÉWANJÉ-ÉPÉE TOURRET      NaN
2432           Lena SOLLI-REIMANN      NaN
2433           Natalya GRIGORYEVA      NaN
2434               Sonia PAQUETTE      NaN
2435                Julie BAUMANN      NaN
2436                 Angela THORP      NaN
2437          Lynda TOLBERT-GOODE      NaN
2438             Kristin PATZWAHL      NaN
2439         Tatyana RESHETNIKOVA      NaN
2440                Cécile CINÉLU      NaN
2441                Bich Huong VU      NaN
2442               Aminata CAMARA      NaN
2443              Brigita BUKOVEC      NaN
2444           Dionne ROSE-HENLEY      NaN
2445         Taiwo ALADEFA-DARDEN      NaN
2446               Lidiya YURKOVA      NaN
2447             Nadezhda BODROVA      NaN
2448               Rachael ROGERS      NaN
2449             Elisabeta ANGHEL      NaN
2450                  Gail DEVERS      NaN
2451         Gillian RUSSELL-LOVE      NaN
2452               Yuliya GRAUDYN      NaN
2453                    Ime AKPAN      NaN
2454              Olena KRASOVSKA      NaN
2455            Véronique LINSTER      NaN
2456                  Carla TUZZI      NaN

[2457 rows x 2 columns]

7) Columns have names ('ATHLETE', 'COUNTRY', etc.), but so do rows.  The row names are part of the so-called "index" of the dataframe (or series), and allow you to access data more intuitively than just by row number.  In this case though, the names in the index are the row numbers.  You can extract row 144 with `df.loc[144]`.  Note the use of the `.loc` attribute, and the brackets instead of parentheses.  Use this extract the row containing Usain Bolt's 2008 preliminary heats data (hint, it is at the beginning of the dataframe).

In [131]:
df.loc[0]

Unnamed: 0             0
POS                    1
BIB                  NaN
ATHLETE       Usain BOLT
COUNTRY           JAMJAM
MARK             10.20 Q
RxnTime            0.186
Race               100 m
Round              Heats
Gender                 M
Year                2008
Name: 0, dtype: object

8) You can access specific cells of the dataframe by row and column using `.loc`, e.g. `df.loc[7,'Country']`.  You can also edit data the same way.  Maybe Usain Bolt's preliminary heats time was faster than reported, say 9.5 seconds?  Edit the dataframe with `.loc` to make that change.  Be sure to use the `=` sign or you won't actually make the change!

In [132]:

df.loc[0,'MARK']=9.5
df.loc[0,'MARK']
df.loc[0]

Unnamed: 0             0
POS                    1
BIB                  NaN
ATHLETE       Usain BOLT
COUNTRY           JAMJAM
MARK                 9.5
RxnTime            0.186
Race               100 m
Round              Heats
Gender                 M
Year                2008
Name: 0, dtype: object

9) I don't like the way this data is organized.  Accessing it by arbitrary row numbers is not intuitive at all.  Let's organize the data by athlete name and year instead, using the `set_index()` method.  Inside the parentheses, put a list containing the column name indicating athlete name and the column name indicating the year.  Don't forget quotes and brackets!

In [133]:
df.set_index('ATHLETE','Year')

,Unnamed: 0,POS,BIB,COUNTRY,MARK,RxnTime,Race,Round,Gender,Year
ATHLETE,,,,,,,,,,
Usain BOLT,0,1.0,NaN,JAMJAM,9.5,0.186,100 m,Heats,M,2008
Daniel BAILEY,1,2.0,NaN,ANTANT,10.24 Q,0.198,100 m,Heats,M,2008
Vicente DE LIMA,2,3.0,NaN,BRABRA,10.26 Q,0.168,100 m,Heats,M,2008
Henry VIZCAÍNO,3,4.0,NaN,CUBCUB,10.28 q,0.157,100 m,Heats,M,2008
Fabio CERUTTI,4,5.0,NaN,ITAITA,10.49,0.136,100 m,Heats,M,2008
Jurgen THEMEN,5,6.0,NaN,SURSUR,10.61,0.179,100 m,Heats,M,2008
Moses KAMUT,6,7.0,NaN,VANVAN,10.81,0.181,100 m,Heats,M,2008
Francis MANIORU,7,8.0,NaN,SOLSOL,11.09,0.197,100 m,Heats,M,2008
Asafa POWELL,8,1.0,NaN,JAMJAM,10.16 Q,0.142,100 m,Heats,M,2008
Kim COLLINS,9,2.0,NaN,SKNSKN,10.17 Q,0.162,100 m,Heats,M,2008
Craig PICKERING,10,3.0,NaN,GBRGBR,10.21 Q,0.174,100 m,Heats,M,2008
Daniel GRUESO,11,4.0,NaN,COLCOL,10.35 q,0.178,100 m,Heats,M,2008
Dariusz KUC,12,5.0,NaN,POLPOL,10.44 q,0.144,100 m,Heats,M,2008
Berenger Aymard BOSSE,13,6.0,NaN,CAFCAF,10.51,0.144,100 m,Heats,M,2008
Aisea TOHI,14,7.0,NaN,TGATGA,11.17,0.159,100 m,Heats,M,2008
Roman CRESS,15,8.0,NaN,MHLMHL,11.18,0.190,100 m,Heats,M,2008
Richard THOMPSON,16,1.0,NaN,TTOTTO,10.24 Q,0.188,100 m,Heats,M,2008
Martial MBANDJOCK,17,2.0,NaN,FRAFRA,10.26 Q,0.162,100 m,Heats,M,2008
Simone COLLIO,18,3.0,NaN,ITAITA,10.32 Q,0.140,100 m,Heats,M,2008
Aziz ZAKARI,19,4.0,NaN,GHAGHA,10.34 q,0.177,100 m,Heats,M,2008
Andrew HINDS,20,5.0,NaN,BARBAR,10.35 q,0.140,100 m,Heats,M,2008
Suryo Agung WIBOWO,21,6.0,NaN,INAINA,10.46,0.175,100 m,Heats,M,2008
Jared LEWIS,22,7.0,NaN,VINVIN,11,0.123,100 m,Heats,M,2008
Rabangaki NAWAI,23,8.0,NaN,KIRKIR,11.29,0.152,100 m,Heats,M,2008
Michael FRATER,24,1.0,NaN,JAMJAM,10.15 Q,0.156,100 m,Heats,M,2008
Pierre BROWNE,25,2.0,NaN,CANCAN,10.22 Q,0.141,100 m,Heats,M,2008
Darrel BROWN,26,3.0,NaN,TTOTTO,10.22 Q,0.139,100 m,Heats,M,2008
Nobuharu ASAHARA,27,4.0,NaN,JPNJPN,10.25 q,0.160,100 m,Heats,M,2008
Holder DA SILVA,28,5.0,NaN,GBSGBS,10.58,0.184,100 m,Heats,M,2008
Idrissa SANOU,29,6.0,NaN,BURBUR,10.63,0.171,100 m,Heats,M,2008
...,...,...,...,...,...,...,...,...,...,...
Lesley TASHLIN,2427,7.0,NaN,CANCAN,13.61,NaN,100 m H,Heats,F,1996
Ludmila ENGQUIST,2428,1.0,NaN,SWESWE,12.66,NaN,100 m H,Heats,F,1996
Angela ATEDE,2429,2.0,NaN,NGRNGR,12.88,NaN,100 m H,Heats,F,1996
María José MARDOMINGO,2430,3.0,NaN,ESPESP,12.91,NaN,100 m H,Heats,F,1996
Monique ÉWANJÉ-ÉPÉE TOURRET,2431,4.0,NaN,FRAFRA,13.12,NaN,100 m H,Heats,F,1996
Lena SOLLI-REIMANN,2432,5.0,NaN,NORNOR,13.13,NaN,100 m H,Heats,F,1996
Natalya GRIGORYEVA,2433,6.0,NaN,UKRUKR,13.16,NaN,100 m H,Heats,F,1996
Sonia PAQUETTE,2434,7.0,NaN,CANCAN,13.29,NaN,100 m H,Heats,F,1996
Julie BAUMANN,2435,1.0,NaN,SUISUI,12.86,NaN,100 m H,Heats,F,1996
Angela THORP,2436,2.0,NaN,GBRGBR,12.93,NaN,100 m H,Heats,F,1996
Lynda TOLBERT-GOODE,2437,3.0,NaN,USAUSA,12.97,NaN,100 m H,Heats,F,1996
Kristin PATZWAHL,2438,4.0,NaN,GERGER,12.98,NaN,100 m H,Heats,F,1996
Tatyana RESHETNIKOVA,2439,5.0,NaN,RUSRUS,13.01,NaN,100 m H,Heats,F,1996
Cécile CINÉLU,2440,6.0,NaN,FRAFRA,13.05,NaN,100 m H,Heats,F,1996
Bich Huong VU,2441,7.0,NaN,VIEVIE,13.85,NaN,100 m H,Heats,F,1996
Aminata CAMARA,2442,8.0,NaN,MLIMLI,14.94,NaN,100 m H,Heats,F,1996
Brigita BUKOVEC,2443,1.0,NaN,SLOSLO,12.72,NaN,100 m H,Heats,F,1996
Dionne ROSE-HENLEY,2444,2.0,NaN,JAMJAM,12.81,NaN,100 m H,Heats,F,1996
Taiwo ALADEFA-DARDEN,2445,3.0,NaN,NGRNGR,13.06,NaN,100 m H,Heats,F,1996
Lidiya YURKOVA,2446,4.0,NaN,BLRBLR,13.2,NaN,100 m H,Heats,F,1996
Nadezhda BODROVA,2447,5.0,NaN,UKRUKR,13.22,NaN,100 m H,Heats,F,1996
Rachael ROGERS,2448,6.0,NaN,FIJFIJ,14.07,NaN,100 m H,Heats,F,1996
Elisabeta ANGHEL,2449,NaN,NaN,ROUROU,DNF,NaN,100 m H,Heats,F,1996
Gail DEVERS,2450,1.0,NaN,USAUSA,12.73,NaN,100 m H,Heats,F,1996
Gillian RUSSELL-LOVE,2451,2.0,NaN,JAMJAM,12.85,NaN,100 m H,Heats,F,1996
Yuliya GRAUDYN,2452,3.0,NaN,RUSRUS,12.95,NaN,100 m H,Heats,F,1996
Ime AKPAN,2453,4.0,NaN,NGRNGR,13.11,NaN,100 m H,Heats,F,1996
Olena KRASOVSKA,2454,5.0,NaN,UKRUKR,13.23,NaN,100 m H,Heats,F,1996
Véronique LINSTER,2455,6.0,NaN,LUXLUX,13.47,NaN,100 m H,Heats,F,1996
Carla TUZZI,2456,NaN,NaN,ITAITA,DNF,NaN,100 m H,Heats,F,1996

10) That's OK, but it doesn't look much nicer.  Maybe if it the index was sorted?  If you've ever done a hierarchical sort in Excel, this will be similar.  Try the same command as above, but append `.sort_index()`  to it

In [134]:
df.set_index('ATHLETE','Year').sort_index()

,Unnamed: 0,POS,BIB,COUNTRY,MARK,RxnTime,Race,Round,Gender,Year
ATHLETE,,,,,,,,,,
Aaron BROWN,1147,3.0,2192.0,CANCAN,10.24,0.135,100 m,Heats,M,2016
Abdul GHAFOOR,2257,8.0,NaN,AFGAFG,12.2,NaN,100 m,Heats,M,1996
Abdul RASHID,378,8.0,NaN,PAKPAK,14.52,0.172,110 m H,Heats,M,2008
Abdul Wahab ZAHIRI,1068,7.0,2000.0,AFGAFG,11.56,0.170,100 m,Preliminary,M,2016
Abdullah AL-SOOLI,44,5.0,NaN,OMAOMA,10.53,0.153,100 m,Heats,M,2008
Abdullah Abkar MOHAMMED,1106,5.0,2717.0,KSAKSA,10.26,0.154,100 m,Heats,M,2016
Abiodun OYEPITAN,1316,2.0,NaN,GBRGBR,11.23 Q,0.181,100 m,Heats,F,2004
Abiodun OYEPITAN,551,7.0,1869.0,GBRGBR,11.36,0.151,100 m,Semi,F,2012
Abiodun OYEPITAN,1358,5.0,NaN,GBRGBR,11.18,0.140,100 m,Semi,F,2004
Abiodun OYEPITAN,509,5.0,1869.0,GBRGBR,11.22 q,0.153,100 m,Heats,F,2012
Abiodun OYEPITAN,1324,3.0,NaN,GBRGBR,11.28 Q,0.198,100 m,Quarter,F,2004
Abraham KEPSIN,1772,8.0,NaN,VANVAN,11.12,0.172,100 m,Heats,M,2000
Adam GEMILI,639,2.0,1809.0,GBRGBR,10.11 Q,0.156,100 m,Heats,M,2012
Adam GEMILI,679,2.0,1809.0,GBRGBR,10.06,0.158,100 m,Semi,M,2012
Adrian DURANT,1417,6.0,NaN,ISVISV,10.52,0.223,100 m,Heats,M,2004
Adrian GRIFFITH,1091,8.0,2067.0,BAHBAH,10.53,0.143,100 m,Heats,M,2016
Adrian WOODLEY,2064,6.0,NaN,CANCAN,14.04,0.178,110 m H,Quarter,M,2000
Adrian WOODLEY,2037,4.0,NaN,CANCAN,13.71 Q,0.175,110 m H,Heats,M,2000
Adrien DEGHELT,778,3.0,1136.0,BELBEL,13.52 Q,0.158,110 m H,Heats,M,2012
Adrien DEGHELT,832,4.0,1136.0,BELBEL,13.42,0.142,110 m H,Semi,M,2012
Afa ISMAIL,460,5.0,2494.0,MDVMDV,12.52,0.223,100 m,Preliminary,F,2012
Affoué Amandine ALLOU,1278,4.0,NaN,CIVCIV,11.46,0.182,100 m,Heats,F,2004
Affoué Amandine ALLOU,174,5.0,NaN,CIVCIV,11.75,0.204,100 m,Heats,F,2008
Agné EGGERTH,1302,4.0,NaN,LTULTU,11.44,0.177,100 m,Heats,F,2004
Agné EGGERTH,1894,6.0,NaN,LTULTU,11.87,0.277,100 m,Heats,F,2000
Ahmad HAZER,810,9.0,2421.0,LBNLBN,14.82,0.195,110 m H,Heats,M,2012
Ahmad HAZER,1208,7.0,2731.0,LIBLIB,15.5,0.144,110 m H,Heats,M,2016
Ahmed DOUHOU,2317,5.0,NaN,CIVCIV,10.53,NaN,100 m,Heats,M,1996
Aisea TOHI,14,7.0,NaN,TGATGA,11.17,0.159,100 m,Heats,M,2008
Aissata TOURÉ,462,7.0,2021.0,GUIGUI,13.25,0.198,100 m,Preliminary,F,2012
...,...,...,...,...,...,...,...,...,...,...
Yuniel HERNÁNDEZ,1683,NaN,NaN,CUBCUB,DNS,NaN,110 m H,Semi,M,2004
Yuriy ARISTOV,2364,8.0,NaN,UZBUZB,15.04,NaN,110 m H,Heats,M,1996
Yvette LEWIS,933,8.0,1081.0,PANPAN,13.35,0.150,100 m H,Heats,F,2016
Yvonne KANAZAWA,2176,8.0,NaN,JPNJPN,13.16,NaN,100 m H,Semi,F,2000
Yvonne KANAZAWA,2110,5.0,NaN,JPNJPN,13.13 q,0.192,100 m H,Heats,F,2000
Yvonne KANAZAWA,2150,6.0,NaN,JPNJPN,13.11 q,0.184,100 m H,Quarter,F,2000
Yvonne KANAZAWA,2425,5.0,NaN,JPNJPN,13.3,NaN,100 m H,Heats,F,1996
Zaidatul Husniah ZULKIFLI,960,3.0,999.0,MASMAS,12.12 q,0.151,100 m,Preliminary,F,2016
Zaidatul Husniah ZULKIFLI,1029,8.0,999.0,MASMAS,12.62,0.149,100 m,Heats,F,2016
Zhanna BLOCK,1974,3.0,NaN,UKRUKR,11.32 Q,0.227,100 m,Semi,F,2000
Zhanna BLOCK,1956,1.0,NaN,UKRUKR,11.08 Q,0.191,100 m,Quarter,F,2000
Zhanna BLOCK,1991,4.0,NaN,UKRUKR,11.2,0.223,100 m,Final,F,2000
Zhanna BLOCK,1873,1.0,NaN,UKRUKR,11.27 Q,0.215,100 m,Heats,F,2000
Zhanna BLOCK,1306,NaN,NaN,UKRUKR,DQ,0.186,100 m,Heats,F,2004
Zhanna BLOCK,1369,NaN,NaN,UKRUKR,DQ,0.158,100 m,Semi,F,2004
Zhanna BLOCK,1337,NaN,NaN,UKRUKR,DQ,0.203,100 m,Quarter,F,2004
Zhanna BLOCK,2192,1.0,NaN,UKRUKR,11.2,NaN,100 m,Heats,F,1996
Zhenye XIE,1160,7.0,2234.0,CHNCHN,10.11,0.134,100 m,Semi,M,2016
Zhenye XIE,1102,1.0,2234.0,CHNCHN,10.08 Q,0.143,100 m,Heats,M,2016
Zhivko VIDENOV,2018,NaN,NaN,BULBUL,DNF,0.122,110 m H,Heats,M,2000
Zlatka GEORGIEVA,2188,4.0,NaN,BULBUL,11.74,NaN,100 m,Heats,F,1996
Ággelos PAVLAKÁKIS,1745,NaN,NaN,GREGRE,DNS,NaN,100 m,Heats,M,2000
Ángel David RODRÍGUEZ,609,4.0,1636.0,ESPESP,10.34,0.168,100 m,Heats,M,2012
Ángel David RODRÍGUEZ,111,8.0,NaN,ESPESP,10.35,0.154,100 m,Quarter,M,2008
Ángel David RODRÍGUEZ,35,4.0,NaN,ESPESP,10.34 q,0.145,100 m,Heats,M,2008
Ángela TENORIO,984,3.0,613.0,ECUECU,11.35 q,0.150,100 m,Heats,F,2016
Ángela TENORIO,1034,5.0,613.0,ECUECU,11.14,0.145,100 m,Semi,F,2016
Éder Antonio SOUZA,1250,NaN,2154.0,BRABRA,DQ R 168.7,0.137,110 m H,Semi,M,2016
Éder Antonio SOUZA,1213,4.0,2154.0,BRABRA,13.61 Q,0.134,110 m H,Heats,M,2016
Édson RIBEIRO,2272,5.0,NaN,BRABRA,10.39,NaN,100 m,Heats,M,1996

11) Display the dataframe again by entering `df` on an empty line (e.g. in the code cell below, or create a new code cell).  Does it reflect the changes you made above?  If not, it's because `.set_index()`, `.sort_index()` (and most other methods) only return modified copies of your data; they don't overwrite it.  If you want to work with that modified copy, set the original dataframe equal to it, i.e. `df = ...` where `...` would contain the command you used above.

In [0]:
df = df.reset_index()
df=df.set_index(['ATHLETE','Year']).sort_index()

Now that `df` has been changed, some of the commands in the earlier questions won't work the same.  So you won't be able to access e.g. `df.loc[7]` anymore, because there is no longer a row named 7!  This is why you should always execute notebooks from top to bottom.  Each notebook cell can change the data in a way that a cell above it doesn't know about.

In [140]:
df

                                Unnamed: 0  POS     BIB COUNTRY        MARK  \
ATHLETE                   Year
Aaron BROWN               2016        1147  3.0  2192.0  CANCAN       10.24
Abdul GHAFOOR             1996        2257  8.0     NaN  AFGAFG        12.2
Abdul RASHID              2008         378  8.0     NaN  PAKPAK       14.52
Abdul Wahab ZAHIRI        2016        1068  7.0  2000.0  AFGAFG       11.56
Abdullah AL-SOOLI         2008          44  5.0     NaN  OMAOMA       10.53
Abdullah Abkar MOHAMMED   2016        1106  5.0  2717.0  KSAKSA       10.26
Abiodun OYEPITAN          2004        1316  2.0     NaN  GBRGBR     11.23 Q
                          2004        1358  5.0     NaN  GBRGBR       11.18
                          2004        1324  3.0     NaN  GBRGBR     11.28 Q
                          2012         551  7.0  1869.0  GBRGBR       11.36
                          2012         509  5.0  1869.0  GBRGBR     11.22 q
Abraham KEPSIN            2000        1772  8.0     NaN  VANVAN       11.12
Adam GEMILI               2012         639  2.0  1809.0  GBRGBR     10.11 Q
                          2012         679  2.0  1809.0  GBRGBR       10.06
Adrian DURANT             2004        1417  6.0     NaN  ISVISV       10.52
Adrian GRIFFITH           2016        1091  8.0  2067.0  BAHBAH       10.53
Adrian WOODLEY            2000        2064  6.0     NaN  CANCAN       14.04
                          2000        2037  4.0     NaN  CANCAN     13.71 Q
Adrien DEGHELT            2012         778  3.0  1136.0  BELBEL     13.52 Q
                          2012         832  4.0  1136.0  BELBEL       13.42
Afa ISMAIL                2012         460  5.0  2494.0  MDVMDV       12.52
Affoué Amandine ALLOU     2004        1278  4.0     NaN  CIVCIV       11.46
                          2008         174  5.0     NaN  CIVCIV       11.75
Agné EGGERTH              2000        1894  6.0     NaN  LTULTU       11.87
                          2004        1302  4.0     NaN  LTULTU       11.44
Ahmad HAZER               2012         810  9.0  2421.0  LBNLBN       14.82
                          2016        1208  7.0  2731.0  LIBLIB        15.5
Ahmed DOUHOU              1996        2317  5.0     NaN  CIVCIV       10.53
Aisea TOHI                2008          14  7.0     NaN  TGATGA       11.17
Aissata TOURÉ             2012         462  7.0  2021.0  GUIGUI       13.25
...                                    ...  ...     ...     ...         ...
Yuniel HERNÁNDEZ          2004        1683  NaN     NaN  CUBCUB         DNS
Yuriy ARISTOV             1996        2364  8.0     NaN  UZBUZB       15.04
Yvette LEWIS              2016         933  8.0  1081.0  PANPAN       13.35
Yvonne KANAZAWA           1996        2425  5.0     NaN  JPNJPN        13.3
                          2000        2176  8.0     NaN  JPNJPN       13.16
                          2000        2110  5.0     NaN  JPNJPN     13.13 q
                          2000        2150  6.0     NaN  JPNJPN     13.11 q
Zaidatul Husniah ZULKIFLI 2016         960  3.0   999.0  MASMAS     12.12 q
                          2016        1029  8.0   999.0  MASMAS       12.62
Zhanna BLOCK              1996        2192  1.0     NaN  UKRUKR        11.2
                          2000        1974  3.0     NaN  UKRUKR     11.32 Q
                          2000        1956  1.0     NaN  UKRUKR     11.08 Q
                          2000        1991  4.0     NaN  UKRUKR        11.2
                          2000        1873  1.0     NaN  UKRUKR     11.27 Q
                          2004        1306  NaN     NaN  UKRUKR          DQ
                          2004        1369  NaN     NaN  UKRUKR          DQ
                          2004        1337  NaN     NaN  UKRUKR          DQ
Zhenye XIE                2016        1160  7.0  2234.0  CHNCHN       10.11
                          2016        1102  1.0  2234.0  CHNCHN     10.08 Q
Zhivko VIDENOV            2000        2018  NaN     NaN  BULBUL         DNF
Zlatka GEORGIEVA          1996        2188  4.0     NaN  BULBUL       11.74
Ággelos PAVLAKÁKIS        2000        1745  NaN     NaN  GREGRE         DNS
Ángel David RODRÍGUEZ     2008         111  8.0     NaN  ESPESP       10.35
                          2008          35  4.0     NaN  ESPESP     10.34 q
                          2012         609  4.0  1636.0  ESPESP       10.34
Ángela TENORIO            2016         984  3.0   613.0  ECUECU     11.35 q
                          2016        1034  5.0   613.0  ECUECU       11.14
Éder Antonio SOUZA        2016        1250  NaN  2154.0  BRABRA  DQ R 168.7
                          2016        1213  4.0  2154.0  BRABRA     13.61 Q
Édson RIBEIRO             1996        2272  5.0     NaN  BRABRA       10.39

                                RxnTime     Race        Round Gender
ATHLETE                   Year
Aaron BROWN               2016    0.135    100 m        Heats      M
Abdul GHAFOOR             1996      NaN    100 m        Heats      M
Abdul RASHID              2008    0.172  110 m H        Heats      M
Abdul Wahab ZAHIRI        2016    0.170    100 m  Preliminary      M
Abdullah AL-SOOLI         2008    0.153    100 m        Heats      M
Abdullah Abkar MOHAMMED   2016    0.154    100 m        Heats      M
Abiodun OYEPITAN          2004    0.181    100 m        Heats      F
                          2004    0.140    100 m         Semi      F
                          2004    0.198    100 m      Quarter      F
                          2012    0.151    100 m         Semi      F
                          2012    0.153    100 m        Heats      F
Abraham KEPSIN            2000    0.172    100 m        Heats      M
Adam GEMILI               2012    0.156    100 m        Heats      M
                          2012    0.158    100 m         Semi      M
Adrian DURANT             2004    0.223    100 m        Heats      M
Adrian GRIFFITH           2016    0.143    100 m        Heats      M
Adrian WOODLEY            2000    0.178  110 m H      Quarter      M
                          2000    0.175  110 m H        Heats      M
Adrien DEGHELT            2012    0.158  110 m H        Heats      M
                          2012    0.142  110 m H         Semi      M
Afa ISMAIL                2012    0.223    100 m  Preliminary      F
Affoué Amandine ALLOU     2004    0.182    100 m        Heats      F
                          2008    0.204    100 m        Heats      F
Agné EGGERTH              2000    0.277    100 m        Heats      F
                          2004    0.177    100 m        Heats      F
Ahmad HAZER               2012    0.195  110 m H        Heats      M
                          2016    0.144  110 m H        Heats      M
Ahmed DOUHOU              1996      NaN    100 m        Heats      M
Aisea TOHI                2008    0.159    100 m        Heats      M
Aissata TOURÉ             2012    0.198    100 m  Preliminary      F
...                                 ...      ...          ...    ...
Yuniel HERNÁNDEZ          2004      NaN  110 m H         Semi      M
Yuriy ARISTOV             1996      NaN  110 m H        Heats      M
Yvette LEWIS              2016    0.150  100 m H        Heats      F
Yvonne KANAZAWA           1996      NaN  100 m H        Heats      F
                          2000      NaN  100 m H         Semi      F
                          2000    0.192  100 m H        Heats      F
                          2000    0.184  100 m H      Quarter      F
Zaidatul Husniah ZULKIFLI 2016    0.151    100 m  Preliminary      F
                          2016    0.149    100 m        Heats      F
Zhanna BLOCK              1996      NaN    100 m        Heats      F
                          2000    0.227    100 m         Semi      F
                          2000    0.191    100 m      Quarter      F
                          2000    0.223    100 m        Final      F
                          2000    0.215    100 m        Heats      F
                          2004    0.186    100 m        Heats      F
                          2004    0.158    100 m         Semi      F
                          2004    0.203    100 m      Quarter      F
Zhenye XIE                2016    0.134    100 m         Semi      M
                          2016    0.143    100 m        Heats      M
Zhivko VIDENOV            2000    0.122  110 m H        Heats      M
Zlatka GEORGIEVA          1996      NaN    100 m        Heats      F
Ággelos PAVLAKÁKIS        2000      NaN    100 m        Heats      M
Ángel David RODRÍGUEZ     2008    0.154    100 m      Quarter      M
                          2008    0.145    100 m        Heats      M
                          2012    0.168    100 m        Heats      M
Ángela TENORIO            2016    0.150    100 m        Heats      F
                          2016    0.145    100 m         Semi      F
Éder Antonio SOUZA        2016    0.137  110 m H         Semi      M
                          2016    0.134  110 m H        Heats      M
Édson RIBEIRO             1996      NaN    100 m        Heats      M

[2457 rows x 9 columns]

12) But now we have an intuitive index for the data frame.  Instead of accessing something like `df.loc[7]` we can access by name and year (using the same `.loc` attribute).  First just try accessing Usain Bolt's data by name (note that his last name is all capital letters in this dataset).  Note that it will contain results from several races across several years.

In [141]:
df.loc['Usain BOLT']

      Unnamed: 0  POS     BIB COUNTRY     MARK  RxnTime   Race    Round Gender
Year
2008         136  1.0     NaN  JAMJAM     9.69    0.165  100 m    Final      M
2008         120  1.0     NaN  JAMJAM   9.85 Q    0.161  100 m     Semi      M
2008           0  1.0     NaN  JAMJAM      9.5    0.186  100 m    Heats      M
2008         104  1.0     NaN  JAMJAM   9.92 Q    0.165  100 m  Quarter      M
2012         686  1.0  2170.0  JAMJAM     9.63    0.165  100 m    Final      M
2012         630  1.0  2170.0  JAMJAM  10.09 Q    0.178  100 m    Heats      M
2012         670  1.0  2170.0  JAMJAM   9.87 Q    0.180  100 m     Semi      M
2016        1136  1.0  2612.0  JAMJAM  10.07 Q    0.156  100 m    Heats      M
2016        1162  1.0  2612.0  JAMJAM   9.86 Q    0.143  100 m     Semi      M
2016        1178  1.0  2612.0  JAMJAM     9.81    0.155  100 m    Final      M

13) You can further restrict the data to a single year by using the `.loc` attribute again ("chaining" operations together), and now including a specific year.  Access Usain Bolt's data for 2008.  Hint: it will look just like the answer above, but with an extra `.loc` appended on.

In [143]:
df.loc['Usain BOLT'].loc[2008]

      Unnamed: 0  POS  BIB COUNTRY    MARK  RxnTime   Race    Round Gender
Year
2008         136  1.0  NaN  JAMJAM    9.69    0.165  100 m    Final      M
2008         120  1.0  NaN  JAMJAM  9.85 Q    0.161  100 m     Semi      M
2008           0  1.0  NaN  JAMJAM     9.5    0.186  100 m    Heats      M
2008         104  1.0  NaN  JAMJAM  9.92 Q    0.165  100 m  Quarter      M

14) How fast does Usain Bolt react to the starting gun?  Find his minimum Olympic sprint reaction time by acessing his data using `.loc`, accessing reaction time by column name, and then computing the minimum.  Hint: the *maximum* is obtained with the `.max()` method.

In [150]:
df.loc['Usain BOLT']['RxnTime'].min().round(3)

0.143

15) Usain Bolt was the fastest 100m sprinter of all time, but he didn't try his hardest until the finals of each meet (he didn't need to).  Let's extract only his data from the finals.  This takes only one step, but we'll do it in two to make the idea clear.  First, let's generate a series that tells us whether it is True or False that a given race was a final.  Just paste `df['Round'] == 'Final'` in the cell below.  You will see a series containig some `True` values and some `False` values (mostly the latter), reflecting rows containing data from finals vs. other rounds.  Note the ellipsis halfway down, which represents all the data (hundreds of rows) it isn't showing you to save space.

16) The expression above can be used as a "selector", to select data from the dataframe which matches the desired condition (i.e. only 200 m races).  Place it inside brackets (i.e. inside `df[]`) to access only the 200 m races from the original data.

In [0]:
# Fill in your answer to 16 here

17) Now use the above, plus chaining with `.loc[]` and `max()` to find Usain Bolt's *worst* reaction time in an Olympics final.

In [0]:
# Fill in your answer to 17 here

18) Let's clean up this data a little bit more.  See all the `NaN` values above?  Those correspond to missing data (NaN stands for "Not a Number").  We can get rid of rows that have missing data with the `.dropna()` method.  But some missing data is irrelevant to our analysis.  Who cares if the bib number is missing?  Select only those columns we care about (let's say reaction time, round, and gender) using the approach from question 6, and then use `dropna()` on that subset of the columns.  Chain that with `.shape` to see how many rows the remaining data has.  It should be less than the number of rows we started with (because we removed some rows), but still well more than 0!

In [0]:
# Fill in your answer to 18 here

19) Do Americans sprinters react faster than Canadian sprinters?  No one would ever fund such a study, but you can answer that question right here for free!  Use the `.groupby()` method to aggregate sprinters by country `.groupby('COUNTRY')`, select the reaction time column, and chain it with `.mean()` to compare mean reaction time across countries.  You can further optionally append `[['USAUSA','CANCAN']]` to focus on only those two countries.  Why are all the country names doubled?  I think it is because the person who compiled this dataset likes to say, "U-S-A!  U-S-A!" and just repeated that for every country.

In [0]:
# Fill in your answer to 19 here
df.groupby('COUNTRY')['RxnTime'].mean()[['USAUSA','CANCAN']]

COUNTRY
USAUSA    0.170185
CANCAN    0.159889
Name: RxnTime, dtype: float64

In [0]:
# Be sure to run this code cell!
from scipy.stats import ttest_ind

20) So *do* Americans react faster (or slower) than Canadians? In the previous question we only computed the means.  What about the variability?  Let's assume for the moment that a t-test is a good way to compare the two groups.  Extract the two groups using the data using the selector approach from question 16, extract the reaction time from each, drop the missing values, and assigning one to the variable `usa` and the other to the variable `can`.  Don't use `groupby()` here.  Having loaded a t-test function (`ttest_ind` in the cell above), call that function using your selected groups (`ttest_ind(usa,can)`).  Note that you can have multiple command in a code cell, as long each one is on its own line.

In [0]:
# Fill in your answer to 20 here

21) Oh my, are we going to win a Nobel Prize for this discovery?  Or have we failed to control for something?  Maybe one country has more male vs female athletes, or more sprinters vs hurdlers.  Repeat the above, restricting the data to men (21a), then to women (21b), then to only 100 m sprinters (21c).  You can have multiple `==` expressions in your selector, but you should use parentheses to keep them separated e.g. `(df['COUNTRY']=='USA') && (df['Gender']=='F')`.

In [0]:
# Fill in your answer to 21a here

In [0]:
# Fill in your answer to 21b here

In [0]:
# Fill in your answer to 21c here

### Congratulations, you are now familiar with the basic of programmatic operations on structured data!